.editorContainer {
  position: absolute;

  bottom: 0;
  right: 100px;

  width: 60rem;
  height: 60rem;

  background-color: #fff;
  border: 1px solid #aaa;
  padding: 1.2rem;
  border-radius: 9px;
  transition: all 0.3s;

  transform: translateY(100%);
}

.editorShown {
  transform: translateY(0%);
}

.emailForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
}

.wrapperStyle {
  width: 100%;
  height: 80%;
  overflow: hidden;
  /* border: 1px solid red; */
  /* padding: 1.2rem; */
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.editorStyle {
  background-color: #e7e7e7;
  border-radius: 9px;
  height: 100%;
  overflow: hidden;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  width: 100%;
}

.inputContainer input {
  padding: 1rem;
  border: none;
  /* background-color: #d6d6d6; */
  border-radius: 9px;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.error {
  font-size: 1.6rem;
  color: red;
}

.sendButton {
  padding: 1.2rem 2.4rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 1000px;
  background-color: #0b57d0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.errorBtn {
  background-color: red;
  color: #fff;
}

.sendButton:hover {
  background-color: #3c79d9;
}

.buttonClose {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.buttonClose:hover {
  background-color: #d6d6d6;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.helpText {
  position: absolute;
  /* top: 0; */
  right: 0;

  transform: translateX(100%);
  visibility: hidden;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.sendButton:hover .helpText {
  visibility: visible;
}

.buttonClose:hover .helpText {
  visibility: visible;
}
