.menuRightContainer {
  padding: 1.2rem;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #cecece;
  margin-bottom: 1.2rem;
}

.imgContainer,
.iconContainer {
  padding: 1rem;
  border-radius: 1000px;
  /* background-color: red; */
  transition: all 0.2s;
  cursor: pointer;

  position: relative;
}

.imgContainer:hover,
.iconContainer:hover {
  background-color: #ccc;
}

.imgContainer:hover .helpText {
  visibility: visible;
}
.iconContainer:hover .helpText {
  visibility: visible;
}

img {
  height: 2.4rem;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.hideButton {
  position: absolute;
  bottom: 10px;
  transition: all 0.3s;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 1000px;
  background-color: #d4d4d4;

  cursor: pointer;
}

.btnHidden {
  transform: translateX(-40%) rotate(180deg);
}

.helpText {
  position: absolute;
  /* top: 0; */
  right: 0;

  transform: translateX(-50%);
  visibility: hidden;
  padding: 0.5rem !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 1.2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  z-index: 1500;
}
